:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
  color: #1f2937;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.canvas-container {
  overflow: auto;
  border: 4px solid #000;
  background: white;
  margin: 20px auto;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-height: 80vh;
}

input, button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin: 5px;
}

button {
  background-color: #111;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #333;
}